@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
    font-family: "Silkscreen", monospace;
    margin: 15px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    font-family: "Silkscreen", monospace;
}

.player-info {
    display: flex;
    text-align: left;
    justify-content: center;
}

.player-info > img {
    margin: 5px;
}

#home > img {
    height: 200px;
    margin: 20px;
}

#buttons {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 200px;
}

a {
    font-family: "Silkscreen", monospace;
    background-color: black;
    border-bottom: 1px solid black;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid white;
}

.nav-link {
    position: fixed;
    left: 5px;
    top: 5px;
}

/* Board */
#board {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 448px;
    margin: 20px auto;
}

.square {
    width: 55px;
    height: 55px;
    border: 1px solid black;
}

.square > svg {
    width: 37px;
    height: 37px;
    padding: 10px;
}

[data-colour="white"] {
    background-color: rgb(255, 255, 255);
}

[data-colour="black"] {
    background-color: rgb(0, 0, 0);
    /* background-color: white;
    background-image: url("./assets/images/background.png");
    background-size: 50px 50px; */
}